@import "../../../assets/styles/constants.scss";

button{
    background-color: $grey;
}

.hero{
    box-sizing: border-box;
    background-image: url("../../../assets/images/sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    // 100vh minus footer and header
    height: calc(100vh - 144px);

    div{
        height: 90%;
    }
}

h2{
    color: $white;
    margin: 20px;
    text-transform: capitalize;
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    padding-bottom: 20px;
}

p{
    color: $white;
    font-size: 1.2em;
    font-weight: 300;
}

.sign-up{
    color: $white;
    border: 1px solid $white;
    background-color: rgba(0, 0, 0, 0.5); 
    margin-top: 10px;   
}

mat-card{
    width:  80%;
}

  
.login-button{
    background-color: $accent;
    color: $white;
}
  

//at bootstrap's (xs) breakpoint  
@media only screen and (max-width: 576px){    
    .hero{height: 40vh;}
    h2 {
        font-size: 1.2em;
        margin: 10px;
        padding-bottom: 10px;
    }
    p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 420px){    
    h2{
        display: none !important;
    }
}



