<div class="column">
  <div class="row justify-content-center">
    <div class="hero col-12 col-sm-6 col-md-7 col-lg-8">
        <div class="d-flex flex-column justify-content-center align-items-center">
        <h2>Welcome to image gallery!</h2>
        <p>Not a member ... ?</p>
        <a routerLink="/signup" >
          <button mat-flat-button class="sign-up">Sign up <mat-icon>person_add</mat-icon></button>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-5 col-lg-4">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
      <mat-card>
        <form [formGroup]="form" class="d-flex flex-column">
          <mat-form-field>
            <input matInput placeholder="Enter your username" formControlName="username" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter your password" formControlName="password"
              [type]="hidePassword ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div class="d-flex  flex-column align-items-center">
              <button mat-flat-button class="col-6 login-button" type="submit"
              (click)="onSubmit()"  [disabled]="!form.valid">Log in</button>
          </div>
        </form>
      </mat-card>
      </div>
    </div>
  </div>
</div>
