
<div  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
<div class="hero" fxFlex="70" fxFlex.xs="100">

<div  fxLayout="column" fxLayoutAlign="center center">  
<h2>Welcome to image gallery!</h2>
<p>Not a member ... ?</p>
<a routerLink="/signup">
<button mat-flat-button class="sign-up">Sign up</button>
</a>
</div>
</div>

<div  fxFlex="30" fxFlex.xs="100">
<mat-card>

  <a routerLink="/">
    <button mat-flat-button>
      Back to Gallery
    </button>
  </a>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="Enter your username" formControlName="username" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your password" formControlName="password"
        [type]="hidePassword ? 'password' : 'text'" required>
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-flat-button type="submit" [disabled]="!form.valid">Log in</button>
  </form>
  <div *ngIf="login.status === 'ok'">{{login.message}}</div>
  <div *ngIf="login.status === 'failed'">{{login.message}}</div>
</mat-card>
</div>
</div>