@import "../../../assets/styles/constants.scss";


.hidden{
visibility: hidden;
}
button{
    background-color: $grey;
}

.form-container {
    display: flex;
    flex-direction: column;
     > * {
    width: 100%;
  }
}

.dropzone { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  height: 300px;
  border: 2px dashed $accent;
  border-radius: 5px;
  background: $white;
  margin: 10px 0;

  &.hovering {
      border: 2px solid $accent;
      color: $grey !important;
  }
}