<div class="column">
  <div class="row align-items-center justify-content-center">
    <mat-card class="col-12 col-md-5">
        <div class="dropzone" appDropzone (hovered)="toggleHover($event)" (dropped)="startUpload($event)"
        [class.hovering]="isHovering">
        <h4>Drag and drop your image file...</h4>
        <div *ngIf="!file">
          <mat-form-field>
            <ngx-mat-file-input #box [value]="setFileValue(box.value)" [accept]="'image/*'" placeholder="File"
              valuePlaceholder="No file selected" required></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
          </mat-form-field>
        </div>
        <div *ngIf="file" class="d-flex flex-column align-items-center">
          <p>{{file.name}}</p>
          <button mat-flat-button (click)="removeFile()">Remove</button>
        </div>
      </div>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="column">
        <div class="row">
            <app-name-input class="col-12 col-md-6"
            [(ngModel)]="name" name="name"  [required]="true"></app-name-input>
            <app-catalogs-select
            [(ngModel)]="catalogs" name="catalogs"
            class="col-12 col-md-6" [catalogList]="catalogList"></app-catalogs-select>
            <app-description-textarea
            [(ngModel)]="description" name="description"
            [required]="true" [appMinLength]="4" class="col-12"></app-description-textarea>
            <app-tag-input
            [(ngModel)]="tagList" name="tags" [allTags]="allTags" class="col-12" [required]="true"></app-tag-input>
        </div>
      </div>
        <button mat-flat-button id="submit-button" type="submit" [disabled]="!file || f.form.controls['name'].invalid || f.form.controls['description'].invalid || tagList.length === 0">Upload
            <mat-icon>send</mat-icon></button>
      </form>
      <button mat-flat-button (click)="empty()">Empty<mat-icon>delete_forever</mat-icon></button>
    </mat-card>
    <div *ngIf="url" class="preview col-12 col-md-5">
      <img [src]="url">
    </div>
  </div>
</div>
