@import "../../../assets/styles/constants.scss";


.hide {
  display: none;
}

.show {
  display: auto;
}

button {
  background-color: $grey;

}

#upload-button{
  display: inline-block;
  margin-left: calc(100% - 120px);
}

mat-card{
  position: relative;
  margin: 10px;
  box-sizing: border-box;
}

.shorter-input{
  max-width: 300px;
}


.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border: 2px dashed $accent;
  border-radius: 5px;
  background: $white;
  margin: 5px;
  padding: 5px;

  h4{

    text-align: center;
  }

  &.hovering {
    border: 2px solid $accent;
    color: $grey !important;
  }
}

.preview{
  display: inline-block;
  margin: 10px;
  box-sizing: border-box;
  img{
    display: block;
    margin: auto;
  max-width: 90%;
  max-height: 90vh;
  width: auto;
  height: auto;
  border-radius: 5px;

  }
}

p.error{
  font-size: 0.75em;
  color: #f44336;
  top: 40px;
  position: relative;
}