@import "../../../assets/styles/constants.scss";

::ng-deep .mat-dialog-container {
  padding: 0;
  scrollbar-width: none;
}

::ng-deep .mat-dialog-container::-webkit-scrollbar {
  display: none;
}

::ng-deep .mat-card-avatar {
  display: none
}

.dialog-container{
  max-width: 99vw;
  max-height: 99vh;
}

mat-card {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.mat-card-image {
  max-width: 100%;
  width: auto;
  height: auto;
  // at pc size fits 1 line of tags and 1 line of description - if description is long will scroll down 
  max-height: 75vh;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


mat-card-title, mat-card-subtitle{
  margin-bottom: 2px;
}

p{
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 0px;
  padding: 5px;
  }

  mat-chip{
    margin-right: 5px;
  }

.buttons{
    // position: absolute;
    // top: 17px;
    // right: 15px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 15px;
    > *{
      cursor: pointer;
      margin-right: 15px;
      display: inline-block;
    }
    a{
      color: $accent;
      text-emphasis: none;
    }
}


