@import "../../../assets/styles/constants.scss";

::ng-deep .mat-dialog-container {
  padding: 0;
  scrollbar-width: none;
}

::ng-deep .mat-dialog-container::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  max-width: 65vw;
  max-height: 65vh;
  width: auto;
  height: auto;
}

::ng-deep .mat-card-avatar {
  display: none
}

mat-card-content {
  FONT-WEIGHT: 300;
  margin: -10px 15px 10px 15px !important;
  font-size: 1em;
}

mat-card {
  margin: 0;
  width: 100%;
}

mat-icon {
  position: absolute;
  top: 17px;
  right: 17px;
}

.dialog-component{
  max-width: 95vw;
  max-height: 95vh;
}

mat-icon{
  cursor: pointer;
}