  <mat-card class="container">
    <div class="tag">filter</div>
    <div class="container">
    <div class="row">
    <label class="col-5 col-xs-12 pure-material-textfield-outlined relative">
      <input [ngModel]="filterData.search" (ngModelChange)="initSearch($event)" class="input-padding" placeholder=" ">
      <span class="placeholder">Search</span>
      <span class="sufix">
        <mat-icon>search</mat-icon>
      </span>
    </label>
    <div class="col-1"></div>
    <mat-form-field class="col-3 col-xs-12">
      <mat-label>Catalogs</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let catalog of catalogs" (click)=getSelectedValue(catalog)>
          {{catalog.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="col-1"></div>
    <mat-form-field class="col-3 col-xs-12">
      <mat-chip-list #chipList aria-label="Tags selection">
        <mat-chip *ngFor="let tag of filterData.tags" [selectable]="selectable" [removable]="removable" (removed)="removeTag(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New tag..." 
        [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
    </mat-form-field>
    </div>
  </div>
  </mat-card>
  <mat-card id="gallery">
    <div class="tag">gallery</div>
    <div class="res-count-container"> Showing {{ getPhotosCount() }} results </div>
    <button mat-flat-button (click)="sortByDate()">Sort by Date<mat-icon>{{arrow.name}}</mat-icon></button>
    <ng-template [ngIf]="isLoaded" ; [ngIfElse]="loading">
      <div class="flex-container padding-top">
        <div class="photo-container" *ngFor="let item of photos">
          <app-photo [photo]="item"></app-photo>
        </div>
      </div>
    </ng-template>
  </mat-card>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>

  <div class="container">
    <div class="row">
      <div class="col-sm-8">col-sm-8</div>
      <div class="col-sm-4">col-sm-4</div>
    </div>
    <div class="row">
      <div class="col-sm">col-sm</div>
      <div class="col-sm">col-sm</div>
      <div class="col-sm">col-sm</div>
    </div>
  <div>