<section>
  <mat-card>
  <div class="tag">filter</div>
    <div class="filter-container">

      <mat-form-field>
        <mat-label>Catalogs</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let catalog of catalogs" (click)=getSelectedValue(catalog)>
            {{catalog.name}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </mat-card>

  <mat-card id="gallery">
    <div class="tag">gallery</div>
    <ng-template [ngIf]="isLoaded"; [ngIfElse]="loading">
        <div class="fl-container">
      <div class="photo-container" *ngFor="let item of photos">
        <app-photo [photo]="item"></app-photo>
      </div>
    </div>
    </ng-template>
  </mat-card>

  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>

  <mat-card>
    <app-image-upload></app-image-upload>
  </mat-card>


</section>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

