$primary: #36D696;
$accent: #AB2B52;
$warn:  #DDFB3F;

section {
  div {
    margin: 0.25em;
  }
  .fl-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  .photo-container {
    padding:.05%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: inline-block;
    border-radius: 20px;

  }
}
}

mat-card{
  margin: 1.5em;
  box-sizing: border-box;
  align-content: center;

  .tag{
    color: white;
    background-color: $accent;
    border-radius: 1.4em;
    padding: 0.3em 0.7em;
    display: inline-block;
    position: absolute;
    top: -1em;
    left: 1em;
    font-size: 1.1em;
  }
}

#gallery{

  min-height: 70vh;
  position: relative;
}

mat-spinner{
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

