  <mat-card id="filter-area">
    <div class="tag">filter</div>
    <div class="container">
      <div class="row justify-content-end">
        <mat-form-field appearance="outline" class="col-12 col-sm-6">
          <mat-label>Search</mat-label>
          <input matInput [ngModel]="filterData.search" (ngModelChange)="initSearch($event)" class="input-padding"
            placeholder=" ">
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint>Enter photo name or description</mat-hint>
        </mat-form-field>
        <app-catalogs-select class="col-12 col-sm-3" 
        [(ngModel)]="selectedCatalogs" name="catalogs" (selectionChange)="getSelectedCatalogs()"
        [catalogList]="catalogs"></app-catalogs-select>
        <app-tag-input
            [(ngModel)]="filterData.tags" name="tags" [placeholder]="'Tags'" (inputChange)="getSelectedTags()" [allTags]="allTags" class="col-12 col-sm-3"></app-tag-input>
      </div>
    </div>
  </mat-card>
  <mat-card id="gallery">
    <div class="tag">gallery</div>
    <ng-template [ngIf]="isLoaded" ; [ngIfElse]="loading">
      <ng-template [ngIf]="!photos || photos.length == 0">
        <app-no-results></app-no-results>
      </ng-template>
      <ng-template [ngIf]="photos.length > 0">
        <div class="res-count-container"> Showing {{photos?.length}} results </div>
        <button mat-flat-button (click)="sortByDate()">Sort by Date<mat-icon>{{arrow.name}}</mat-icon></button>
        <div *ngFor="let item of photos; let i = index">
          <div *ngIf="i % photosInRow == 0">
            <div class="row justify-content-center">
              <div *ngFor="let item of photos.slice(i, i + photosInRow)">
                <div class="photo-container">
                  <app-photo [photo]="item"></app-photo>
                </div>
              </div>
              <ng-container *ngIf="i + photosInRow > photos.length">
                <div *ngFor="let box of   [].constructor((photosInRow - (photos.length - i)))">
                  <div class="photo-container">
                    <div class="ghost-box"></div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </mat-card>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
