@import "../../../assets/styles/text-field.scss";
@import "../../../assets/styles/constants.scss";

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto;

  .photo-container {
    padding: 2px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: inline-block;
    border-radius: 20px;
  }
}

label{
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .flex-container {
    margin: 0;

    .photo-container {
      padding: 1px;
      width: auto;
      height: 300px;
      border-radius: 10px;
    }
  }

  mat-card {
    margin: 10px;
    box-sizing: border-box;
    width: 99%;
  }
}


.padding-top {
  padding-top: 10px;
}

mat-card {
  .tag {
    color: $white;
    background-color: $accent;
    border-radius: 1.4em;
    padding: 0.3em 0.7em;
    display: inline-block;
    position: absolute;
    top: -1em;
    left: 1em;
    font-size: 1.1em;
  }
}

#gallery {
  min-height: 70vh;
  position: relative;
}

mat-spinner {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.relative {
  position: relative;
}

.sufix {
  position: absolute;
  right: 5px;
  top: 23px;
  background-color: $white;
  color: $grey;
}

.placeholder {
  color: $grey;
}

.res-count-container {
  position: absolute;
  right: 18px;
  top: 10px;
  font-size: 0.7em;
  color: $grey;
  letter-spacing: .3px;
}
