@import "../../../assets/styles/text-field.scss";
@import "../../../assets/styles/constants.scss";



  .photo-container {
    padding: 10px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 40px;
  }

label{
  display: inline-block;
}

.padding-top {
  padding-top: 10px;
}

mat-card {
  .tag {
    color: $white;
    background-color: $accent;
    border-radius: 1.4em;
    padding: 0.3em 0.7em;
    display: inline-block;
    position: absolute;
    top: -1em;
    left: 1em;
    font-size: 1.1em;
  }
}

#gallery {
  min-height: 70vh;
  position: relative;
}

mat-spinner {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.relative {
  position: relative;
}

::ng-deep .mat-flat-button{
  top: 5px;
}

.sufix {
  position: absolute;
  right: 20px;
  top: 23px;
  background-color: $white;
  color: $grey;
}

.placeholder {
  color: $grey;
}

.res-count-container {
  position: absolute;
  right: 18px;
  top: 10px;
  font-size: 0.7em;
  color: $grey;
  letter-spacing: .3px;
}

