@import '../assets/styles/constants.scss';

div{
    background-color: primary;
}

mat-toolbar{
    background-color: $grey;
}

section {

        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;

    }
