<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <a [routerLink]="['/upload']">
    <button mat-flat-button>
      Upload new Image
    </button>
  </a>
  <div  fxLayout="row" fxLayoutAlign="space-between center">
    <a [routerLink]="['/signup']" fxFlex="40">
      <button mat-flat-button>
        Sign up
      </button>
    </a>
    <div fxFlex="15"></div>

    <a [routerLink]="['/signin']" fxFlex="40">
      <button mat-flat-button>
        Sign in
      </button>
    </a>
    <div fxFlex="5"></div>

  </div>

</mat-toolbar>

<section>


  <div>
    <router-outlet></router-outlet>
  </div>

</section>
