<mat-form-field class="w-100">
    <input matInput [placeholder]="placeholder" [(ngModel)]="value" #validations="ngModel"
      [type]="hidePassword ? 'password' : 'text'" [required]="required" [appMinLength]="appMinLength" maxlength="20">
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" 
      [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="validations.invalid">{{getErrorMessage(validations)}}</mat-error>
</mat-form-field>
