<mat-card>
  <div *ngIf="isAdmin()">
    <button mat-flat-button class="delete-button" (click)="openDialog()">Delete <mat-icon>delete_forever</mat-icon>
      </button>
  </div>
  <ng-template [ngIf]="isLoaded" ; [ngIfElse]="loading" class="container">
    <div class="form-container row">
      <div class="col-12 col-md-6 align-items-center">
        <img class="image" [src]="(photo | imageSrc)" alt="photo.name" />
      </div>
      <div class="col-12 col-md-6">
        <form class="container" (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-container row"  fxLayout="column">
            <app-name-input class="col-12 col-md-6"
            [(ngModel)]="photo.name" name="name" [required]="true"></app-name-input>
            <app-catalogs-select
            [(ngModel)]="selectedCatalogs" name="catalogs"
            class="col-12 col-md-6" [catalogList]="catalogList"></app-catalogs-select>
            <app-description-textarea
            [(ngModel)]="photo.description" name="description"
            [required]="true" [appMinLength]="4" class="col-12"></app-description-textarea>
            <app-tag-input
            [(ngModel)]="tagList" name="tags" [required]="true" [allTags]="allTags" class="col-12"></app-tag-input>
            <button mat-flat-button id="submit-button" type="submit" [disabled]="f.form.invalid || tagList.length === 0"
              >Save <mat-icon>save</mat-icon></button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</mat-card>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
