@import "../../../assets/styles/constants.scss";

button {
  background-color: $grey;
}

.form-container {
  padding-top: 10px;
  img{
      padding-right: 20px;
  }
}

.delete-button{
    margin-top: 10px;
    background-color: $warn;
    width: 120px;
}