$primary: #eee;
$accent: #FF4949;
$warn: #c10000;
$grey: #dedede;
$white: white;


mat-card {
  margin: 1.5em;
  box-sizing: border-box;
  max-width: 1400px;
}

mat-icon{
  position: relative;
  bottom: 2px;
}
// material design select colors 
::ng-deep .mat-pseudo-checkbox-checked {
  background: $accent !important;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow  {
  color: $accent;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $accent;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $accent !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $accent !important;
}

::ng-deep .mat-input-element {
    /*change color of carret*/
    caret-color: $accent;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color: $accent !important;
}

//to deactivate submit button
::ng-deep.mat-flat-button[disabled][disabled]{
  background-color: rgba(0,0,0,.12) !important;
}
