<mat-toolbar>
  <div class="column">
    <div class="row justify-content-between">
      <div class="col-3 d-flex align-items-center">
        <a routerLink="/">
          <div class="logo-alt">
           <mat-icon>home</mat-icon>
          </div >
        </a>
      <a routerLink="/upload">
        <button mat-flat-button>
         <span>New Image </span><mat-icon>add_photo_alternate</mat-icon>
        </button>
      </a>
    </div>
      <ng-template [ngIf]="isLoggedIn()" ; [ngIfElse]="login" class="col-1">
        <button mat-flat-button (click)="logout()">
          Log out  <mat-icon>exit_to_app</mat-icon>
        </button>
      </ng-template>
    </div>
  </div>
</mat-toolbar>

<ng-template #login>
  <a routerLink="/signin">
    <button mat-flat-button>
      Sign in <mat-icon>perm_identity</mat-icon>
    </button>
  </a>
</ng-template>
