@import '../../../assets/styles/constants.scss';

.column {
  width: calc(100% - 15px);
}

mat-toolbar {
  background-color: $grey;
}

mat-icon {
    color: $accent;
    bottom: 2px;
}

.mat-flat-button{
    top: 0;
}

.logo-alt{
    margin-right: 10px;
    width: 48px;
    height: 36px;
    background-color: $white;
    border-radius: 4px;
    * {
            display: block;
            position: relative;
            margin: auto;
            top: 6px;
    }
}