<mat-toolbar>
  <div class="column">
    <div class="row align-items-center justify-content-between">
      <a routerLink="/upload" class="col-2">
        <button mat-flat-button>
          Upload new Image
        </button>
      </a>
      <!-- <div class="col-auto"></div> -->
      <ng-template [ngIf]="isLoggedIn()" ; [ngIfElse]="login" class="col-1">
        <button mat-flat-button (click)="logout()">
          Log out
        </button>
      </ng-template>
    </div>
  </div>
</mat-toolbar>

<ng-template #login>
  <a routerLink="/signin">
    <button mat-flat-button>
      Sign in
    </button>
  </a>
</ng-template>
